:root {
    --bg: #ECB365;
    --black: #222;
    --font: #fff;
    --primary: #04293A;
    --secondary: #064663;
    --other-color: #041C32;
    --light-black: #777;
    --light-white: #fff9;
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .1);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

* {
    box-sizing: border-box;
    line-height: none;
    border: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

body {
    height: 2000px;
    background-color: var(--light-bg);
}

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    text-shadow: var(--text-shadow);
}

.heading-title {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: var(--secondary);
    margin-top: 1rem;
    color: white;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border: var(--border);
    border-radius: 5px;
}

.btn:hover {
    background: var(--font);
    color: var(--secondary);
}


/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.8);
    color: #fff;
    padding: 12px 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all .50s ease;
}

nav.sticky {
    padding: 12px 10%;
    background-color: var(--other-color);
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar-logo span {
    color: var(--bg);
    font-family: 'pacifico', sans-serif;
}

.navbar-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav a {
    display: block;
    padding: 15px 20px;
    color: var(--font);
}


/* hero */

.hero .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.hero .slide .content {
    width: 85rem;
}

.hero .slide .content span {
    display: block;
    font-size: 4rem;
    color: whitesmoke;
    padding-bottom: 1rem;
}

.hero .slide .content h3 {
    font-size: 6vw;
    color: var(--font);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: white;
    padding: 1rem 0;
}


/* about */

.about-home,
.home-package {
    padding: 8rem 7% 1.4rem;
    height: 100vh;
}

.about-home .content {
    margin-top: 0;
    padding: 24px 17%;
    text-align: left;
}

.about-home .content h4 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.about-home .content p {
    font-size: 1.4rem;
    margin: 0 15px;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    background: white;
}

.about .image {
    flex: 1 1 41rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    text-align: center;
    flex: 1 1 41rem;
}

.about .content h3 {
    font-size: 3rem;
    color: #222;
}

.about .content p {
    font-size: 1.5rem;
    color: #222;
    line-height: 2rem;
    padding: 1rem 0;
}

.about .content .icon-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icon-container .icons {
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icon-container .icons i {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

.about .content .icon-container .icons span {
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}


/* Services */

.services {
    padding: 10rem 7% 1.4rem;
    background-color: white;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.services .box-container .box:hover {
    background-color: white;
}

.services .box-container .box img {
    height: 7rem;
}

.services .box-container .box h3 {
    color: black;
    font-size: 1.4rem;
    padding-top: 1rem;
    text-transform: uppercase;
}


/* package */

.home-package {
    background: white;
}

.home-package .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-package .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: white;
}

.home-package .box-container .box .image {
    height: 15rem;
    overflow: hidden;
}

.home-package .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-package .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.home-package .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--light-black);
    text-transform: capitalize;
}

.home-package .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.home-package .load-more {
    text-align: center;
    margin-top: 2rem;
}

.package .box-container .box:nth-child(1),
.package .box-container .box:nth-child(2),
.package .box-container .box:nth-child(3),
.package .box-container .box:nth-child(4),
.package .box-container .box:nth-child(5),
.package .box-container .box:nth-child(6) {
    display: inline-block;
}

.package {
    padding: 7rem;
}

.package .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.package .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: white;
    display: none;
}

.package .box-container .box .image {
    height: 15rem;
    overflow: hidden;
}

.package .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.package .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.package .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--light-black);
    text-transform: capitalize;
}

.package .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.package .load-more {
    text-align: center;
    margin-top: 2rem;
}


/* team */

.team {
    padding: 5rem 7% 1.4rem;
    height: 100vh;
}

.team h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    border-radius: 10px;
    margin: 1rem;
}

.team p {
    text-align: center;
    max-width: 25rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.team .row {
    display: flex;
    margin: 3rem;
    margin-top: 5rem;
    justify-content: space-between;
}

.team .row .team-card {
    text-align: center;
    background: white;
    margin: 0.6rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: var(--secondary) 0px 1px 25px;
}

.team .row .team-card img {
    padding: 2rem 1rem;
    border-radius: 10%;
    width: 80%;
}

.team .row .team-card .team-card-name {
    margin-top: 1rem auto 0.5rem;
}

.team .row .team-card .team-card-nim {
    font-weight: 400;
}

.container-team .link-video {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit p {
    color: var(--font);
}

footer .credit a {
    color: var(--bg);
    font-weight: bold;
}


/* Scroll Button */

.scroll {
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}

.scroll i {
    font-size: 22px;
    color: var(--font);
    background-color: var(--bg);
    padding: 10px;
    border-radius: 2rem;
    transition: all .50s ease-in-out;
}

.scroll i:hover {
    background-color: var(--other-color);
    color: var(--font);
}

.booking {
    padding: 13rem;
}

.booking .book-form {
    padding: 2rem;
    background: var(--light-bg);
}

.booking .book-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .book-form .flex .inputBox {
    flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input {
    width: 100%;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox input:focus {
    background: black;
    color: white;
}

.booking .book-form .flex .inputBox input:focus::placeholder {
    color: white;
}